In [1]:
import pandas as pd
df = pd.read_excel('2324_Accountability.xlsx')
df

,system,system_name,school,school_name,pool,designation_ineligible,indicator,student_group,participation_rate,n_count,metric,ci_bound,metric_prior,AMO_target_-0.75,AMO_target_0.25,AMO_target,AMO_target_double,score_abs,score_target,score
0,70,Campbell County,3,Campbell County Comprehensive High School,HS,0,Achievement,All Students,97.0,577,26.5,30.2,21.6,NaN,NaN,26.5,31.4,1.0,3.0,3.0
1,70,Campbell County,3,Campbell County Comprehensive High School,HS,0,Achievement,Asian,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70,Campbell County,3,Campbell County Comprehensive High School,HS,0,Achievement,Black or African American,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,70,Campbell County,3,Campbell County Comprehensive High School,HS,0,Achievement,Black/Hispanic/Native American,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,Campbell County,3,Campbell County Comprehensive High School,HS,0,Achievement,Economically Disadvantaged,97.0,188,16.5,22.5,13.1,NaN,NaN,18.5,24.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,70,Campbell County,150,Wynn Habersham Elementary,K8,0,Chronic Absenteeism,White,NaN,120,29.2,NaN,31.4,32.9,30.9,29.4,27.5,0.0,3.0,3.0
347,70,Campbell County,150,Wynn Habersham Elementary,K8,0,Growth,All Students,NaN,104,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
348,70,Campbell County,150,Wynn Habersham Elementary,K8,0,Growth,Economically Disadvantaged,NaN,34,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
349,70,Campbell County,150,Wynn Habersham Elementary,K8,0,Growth,Super Subgroup,NaN,38,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
350,70,Campbell County,150,Wynn Habersham Elementary,K8,0,Growth,White,NaN,102,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [2]:
columns = ['school_name', 'indicator', 'student_group', 'metric']
df = df[columns]
df

,school_name,indicator,student_group,metric
0,Campbell County Comprehensive High School,Achievement,All Students,26.5
1,Campbell County Comprehensive High School,Achievement,Asian,NaN
2,Campbell County Comprehensive High School,Achievement,Black or African American,NaN
3,Campbell County Comprehensive High School,Achievement,Black/Hispanic/Native American,NaN
4,Campbell County Comprehensive High School,Achievement,Economically Disadvantaged,16.5
...,...,...,...,...
346,Wynn Habersham Elementary,Chronic Absenteeism,White,29.2
347,Wynn Habersham Elementary,Growth,All Students,3.0
348,Wynn Habersham Elementary,Growth,Economically Disadvantaged,2.0
349,Wynn Habersham Elementary,Growth,Super Subgroup,2.0
350,Wynn Habersham Elementary,Growth,White,3.0

In [3]:
df = df[df['student_group'] == "All Students"]
df = df[df['indicator'] == "Achievement"]
df

,school_name,indicator,student_group,metric
0,Campbell County Comprehensive High School,Achievement,All Students,26.5
53,Caryville Elementary,Achievement,All Students,29.7
86,Elk Valley Elementary,Achievement,All Students,25.7
107,Jacksboro Elementary,Achievement,All Students,46.8
142,Jacksboro Middle School,Achievement,All Students,36.2
175,Jellico Elementary,Achievement,All Students,19.3
193,Jellico High School,Achievement,All Students,29.4
230,LaFollette Elementary School,Achievement,All Students,28.5
264,Lafollette Middle School,Achievement,All Students,14.2
299,Valley View Elementary,Achievement,All Students,34.2
323,White Oak Elementary,Achievement,All Students,28.8
336,Wynn Habersham Elementary,Achievement,All Students,27.1

In [4]:
df['AMO'] = ((100 - df['metric']) / 16) + df['metric']
df

,school_name,indicator,student_group,metric,AMO
0,Campbell County Comprehensive High School,Achievement,All Students,26.5,31.09375
53,Caryville Elementary,Achievement,All Students,29.7,34.09375
86,Elk Valley Elementary,Achievement,All Students,25.7,30.34375
107,Jacksboro Elementary,Achievement,All Students,46.8,50.12500
142,Jacksboro Middle School,Achievement,All Students,36.2,40.18750
175,Jellico Elementary,Achievement,All Students,19.3,24.34375
193,Jellico High School,Achievement,All Students,29.4,33.81250
230,LaFollette Elementary School,Achievement,All Students,28.5,32.96875
264,Lafollette Middle School,Achievement,All Students,14.2,19.56250
299,Valley View Elementary,Achievement,All Students,34.2,38.31250
323,White Oak Elementary,Achievement,All Students,28.8,33.25000
336,Wynn Habersham Elementary,Achievement,All Students,27.1,31.65625

In [5]:
df['Double_AMO'] = ((100 - df['metric']) / 8) + df['metric']
df

,school_name,indicator,student_group,metric,AMO,Double_AMO
0,Campbell County Comprehensive High School,Achievement,All Students,26.5,31.09375,35.6875
53,Caryville Elementary,Achievement,All Students,29.7,34.09375,38.4875
86,Elk Valley Elementary,Achievement,All Students,25.7,30.34375,34.9875
107,Jacksboro Elementary,Achievement,All Students,46.8,50.12500,53.4500
142,Jacksboro Middle School,Achievement,All Students,36.2,40.18750,44.1750
175,Jellico Elementary,Achievement,All Students,19.3,24.34375,29.3875
193,Jellico High School,Achievement,All Students,29.4,33.81250,38.2250
230,LaFollette Elementary School,Achievement,All Students,28.5,32.96875,37.4375
264,Lafollette Middle School,Achievement,All Students,14.2,19.56250,24.9250
299,Valley View Elementary,Achievement,All Students,34.2,38.31250,42.4250
323,White Oak Elementary,Achievement,All Students,28.8,33.25000,37.7000
336,Wynn Habersham Elementary,Achievement,All Students,27.1,31.65625,36.2125